@import "../../styles/variables";

.root {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__compact {
    @extend .root;
    max-width: 900px !important;
  }
}

@media (min-width: $breakpoint-sm) {
  .root {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: $breakpoint-md) {
  .root {
    max-width: 1200px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: $breakpoint-lg) {
  .root {
    max-width: 1400px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: $breakpoint-xl) {
  .root {
    max-width: 1600px;
  }
}
