@import "../../styles/variables";

.container {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: $breakpoint-sm) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: $breakpoint-md) {
  .container {
    max-width: 1200px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: $breakpoint-lg) {
  .container {
    max-width: 1400px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: $breakpoint-xl) {
  .container {
    max-width: 1600px;
  }
}
