@import "../../styles/variables";

.root {
  background-color: $color-grey;
  margin-bottom: 0;
  padding: 1rem 0;

  .inner {
    display: grid;
    column-gap: 1rem;
    row-gap: 0.5rem;
    align-items: center;

    p {
      margin: 0;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .root {
    .inner {
      p {
        text-align: center;
      }
    }
  }
}

@media (min-width: $breakpoint-md) {
  .root {
    .inner {
      grid-template-columns: auto 1fr;

      > :nth-child(2) {
        justify-self: end;
      }
    }
  }
}
