.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-grey {
  color: $color-grey;
}

.color-black {
  color: $color-black;
}

.bg-primary {
  background-color: $color-primary;
}

.bg-secondary {
  background-color: $color-secondary;
}

.bg-grey {
  background-color: $color-grey;
}

.bg-black {
  background-color: $color-black;
}
